<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%- if controller_name != 'sessions' %>
	  <%= link_to "Log in", new_session_path(:user) %><br />
	<% end -%>
	</li>
	<li>
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  	<%= link_to "Sign up", new_registration_path(:user) %><br />
	<% end -%>
	</li>
<% end %>